@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



//media query

//0-600   Phone
//600-900 Tablet portrait
//900-1200 Tablet landscape

//1800+ Big desktop

// bracketpoints argument:
// -phone
// -tab-port
// -tab-lend
// -big-desk



//Order: base+ typography -> general layout -> grid + page layout -> components
//1em=16px

@mixin respond($bracketpoints) {
  @if $bracketpoints == phone {
    @media (max-width: 37.5em) {   //<600px
      @content;
    }
  }
  @if $bracketpoints == tab-port {
    @media (max-width: 56.25em) {  //<900px
      @content;
    }
  }
  @if $bracketpoints == tab-lend {
    @media (max-width: 75em) {   //<1200px
      @content;
    }
  }
  @if $bracketpoints == big-desk {
    @media (min-width: 112.5em) { //<+1800px
      @content;
    }
  }
}
