p {
  color: #666;
}
h1 {
  line-height: 5.35rem;
  color: #ffff;
  top: 20rem;
  font-weight: 700;
  font-size: 7rem;
  max-width: 80rem;
  margin: 12rem auto;
  grid-column: 1/2;
  grid-row: 1/1;
  @include respond(phone) {
    //<600px
    font-weight: 600;
    font-size: 5rem;
    text-align: center;
    max-width: 50rem;
    grid-column: 1/1;
    grid-row: 1/1;
    margin: 2rem auto;
    // top:15rem;
    // left: 17rem;
    
  }
}
h4 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #ffff;
  margin-top: 25rem ;
  grid-column: 1/2;
  grid-row: 1/1;

  @include respond(phone) {
    //<600px
   
  margin: 15rem auto;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  grid-column: 1/1;
  grid-row: 1/1;
  
  }
}


