.story{
    width:75%;
    margin:0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    position: relative;
    margin-bottom: 8rem;
    background-color: rgba($color-white, .5);
    
    &__shape{
        width: 15rem;
        height: 15rem;
        float: left;
        // peimul numar este cat de rotund sa fie cercul (radius)
        // urmatoarele doua sunt centrele verticale si orizontale
        shape-outside: circle(50% at 50% 50%);
        // merge doar daca elementul este cu float!!
        // de asemenea trebuie sa aia dimensiuni
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skew(12deg);
     
    
    }
    &__image{
        height: 100%;
        background-size: cover;
        transform: translateX(-4rem) scale(1.2);

        &--1{
            transform: translateX(-6rem) scale(1.2);
        }
      
        
    }
    &__text{
        transform: skewX(12deg);
    }
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        // muta centrul de greutate in mijlocul elemtului 
        transform: translate(-50%, -20%);
        color:$color-white;
        text-transform: uppercase;
        font-size:1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
         
    }
    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%)
    }
    &:hover &__image{
        transform: translateX(-4rem) scale(1);
        // adauga piltru pe imagine
        filter: blur(2px) brightness(85%);
        &--1{
            transform: translateX(-6rem) scale(1); 
        }
        
    }
}